body {
  max-width: 970px;
  background: #ffffff;
  color: #444444;
  font-family: sans-serif;
  line-height: 1.231;
  font-family: Helvetica, sans-serif;
  padding-bottom: 2em !important;
}

body.dark_layout {
  background: #1a1a1a;
}

body.half {
  width: 315px;
}

body.full {
  width: 630px;
}

body.wide {
  width: 970px;
}

a {
  text-decoration: none;
}

/* BBW WEBFONT DEFINITIONS */

@font-face {
  font-family: 'BloombergLBold';
    src: url("http://www.businessweek.com/assets/type/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('http://www.businessweek.com/assets/type/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas75/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* DRUK! */
/* Druk Medium */
@font-face {
  font-family: 'Druk Web';
  src: url('Druk-Medium-Web.eot');
  src: url('Druk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('Druk-Medium-Web.woff') format('woff'),
     url('Druk-Medium-Web.ttf') format('truetype'),
     url('Druk-Medium-Web.svg#Druk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
/* Druk Wide Super */
@font-face {
  font-family: 'Druk Wide Web';
  src: url('DrukWide-Super-Web.eot');
  src: url('DrukWide-Super-Web.eot?#iefix') format('embedded-opentype'),
     url('DrukWide-Super-Web.woff') format('woff'),
     url('DrukWide-Super-Web.ttf') format('truetype'),
     url('DrukWide-Super-Web.svg#Druk Wide Web') format('svg');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

/* OTHER TEMPLATE */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  color: #444444;
  line-height: 1.231;
  font-family: Georgia, serif;
  font-size: 12px;
}

.data-credit {
  text-transform: uppercase;
  text-align: right;
  font-size: 10px;
  margin-top: 50px;
}

.wide .data-credit {
  text-align: center;
}

/* HELPER STUFF */

.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

.clear {
  clear: both;
}

/* SVG */

#svg-canvas.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path.arrow, polyline.arrow {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

/* ETC QUIZ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
  margin: 0;
  padding: 0;
}

body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: helvetica, arial;
  color: black;
  background: transparent;
}


.gpt_ads_slot {
  /*margin: 0 auto;*/
}

.ad-div {
  width: 728px;
  margin: 0 auto;
  margin-top: 10px;
}


#top {
  width: 50%;
}



.header {
  padding-right: 3em;
}

#header-social {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.social{
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin-top: 1.5em;
}

.header a {
  display: inline-block;
}

#bloomberg {
  display: inline-block;
  max-height: 80px;
  max-width: 70%;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 3em;
}

.slide {
  text-align: center;
  font-size: 13pt;
  position: relative;
  margin: 30px;
  margin: 10px 10px 80px 10px;
}

.slide.question p {
  margin-top: 0;
}

/* progressive reveal of quiz slides */
.slide.question, .slide.outcome {
  display:none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 16pt;
  color: black;
}

h2.question {
  background: black;
  color: white;
  border-radius: 9px;
  border: 2px solid black;
  padding: 10px;
  text-shadow: none;
  display: inline;
  font-size: 20pt;
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

#start {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 20pt;
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

#title {
  margin: 0;
  font-size: 48px;
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 75px;
}
#title strong {
  font-family: 'Druk Wide Web';
}

#description {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1em;
}

#byline {
  margin-top: -.1em;
}

button {
  background: #ddd;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  font-size: 20pt;
  font-family: 'Druk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

button.choice {
  position: relative;
  margin: 10px;
}

@media (max-width: 895px) {
  #header-social {
    display: none;
  }
  .ad-div {
    display: none;
  }

}


@media (max-width: 480px) {
  /* mobile only */
  #description {
    width: 90%;
  }
  h2.question{
    display: block;
  }
}

@media (min-width: 361px) {
  /* desktop view */
  body {
    max-width: 970px;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  #title {
    line-height: 50px;
  }
}
